/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My styles */
html {
  font-size: 62.5%; /* resetting font-size to 10px. So using rem become easier*/
}
body {
  width: 100vw;
  height: 100vh;
}

.body {
  width: 100%;
  height: 100%;
  background-color: #bada55;
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: 1fr 5fr;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 3em;

  background-color: aquamarine;
  grid-row: 1/3;
}
.sidebar > * {
  margin-bottom: 5rem;
}

.sidebar > h1 {
  display: flex;
}
.sidebar > ul {
  display: grid;
  gap: 0.8em;
  font-size: 2.2rem;
}
.sidebar img {
  height: 1em;
  margin-right: 3rem;
}
.sidebar li {
  display: flex;
  cursor: pointer;
}

.header {
  display: grid;
  gap: 20px;

  background-color: #b00b55;
  padding: 2em 4em;
}
.icon {
  height: 25px;
  cursor: pointer;
}
.header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  flex: 1;
}
input[type="search"] {
  width: clamp(250px, 50%, 500px);
  height: 3rem;

  border: none;
  border-radius: 2rem;
  outline: none;
  padding-left: 2rem;

  margin-left: 2rem;
}
.header-top-row .profile-pic {
  height: 50px;
  border-radius: 50%;
}
.top-right,
.bottom-right,
.bottom-left {
  display: grid;
  gap: 2rem;

  font-size: 2.2rem;
}
.bottom-left {
  min-width: 230px;
}
.greetings-message {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.greetings {
  font-size: 1.6rem;
}
.user-name-account {
  font-size: 2.8rem;
}
.user-AT {
  font-size: 1.9rem;
}
.bottom-right > button {
  font-size: 1.6rem;
  padding: 0.5em 1em;

  border: none;
  border-radius: 2rem;

  margin-left: 2rem;

  cursor: pointer;
}
.header-bottom-row {
  display: flex;
  justify-content: space-between;
}
.header-bottom-row .profile-pic {
  height: 75px;
  border-radius: 50%;
}
.header-top-row > *,
.header-bottom-row > * {
  display: flex;
  align-items: center;
}

.content-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;
  
    padding: 2em;
  
    background-color: #b16a55;
  }  

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-column: 1;
    grid-row: 2;
    gap: 2rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;

  height: 200px;
  padding: 2rem;

  border-radius: 10px;
  /* box-shadow: 5px 0 0 #acce55 inset; */

  background-color: #666;
}
.card-icons {
  align-self: end;
  margin-left: auto;
}
