/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* My styles */
:root {
  --primary-color: #302e26;
  --secondary-color: #5b5950;
  --accent-color: #8a897f;
  --text-color: #f2f0e5;
}
html {
  font-size: 62.5%; /* resetting font-size to 10px. So using rem become easier*/
  font-family: "Chakra Petch", sans-serif;
}
body {
  width: 100%;
  height: 100%;
}

.body {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(280px, 1fr) 4fr;
  grid-template-rows: 1fr 5fr;
}
h1,
h2,
h3,
h4,
h5,
h6,
.sidebar li,
button,
.user-name {
  font-weight: bold;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.8rem;
}
.sidebar {
  display: flex;
  flex-direction: column;
  padding: 3em;

  background-color: var(--primary-color);
  grid-row: 1/3;

  color: var(--text-color);
}
.sidebar > * {
  margin-bottom: 5rem;
}

.sidebar > h1 {
  display: flex;
  justify-content: center;

  padding-bottom: 3rem;
  border-bottom: 2px solid var(--text-color);
}
.dashboard-img {
  transition: transform 0.5s;
}
.dashboard-img:hover {
  transform: rotate(45deg);
}
.sidebar > ul {
  display: grid;
  gap: 0.8em;
  font-size: 2.2rem;
}
.sidebar img {
  height: 1em;
  margin-right: 3rem;

  filter: invert(91%) sepia(11%) saturate(159%) hue-rotate(6deg)
    brightness(107%) contrast(90%);
}

.sidebar li {
  display: flex;
  cursor: pointer;
  transition: padding-left 0.25s, box-shadow 0.25s;
}
.sidebar li:hover {
  padding-left: 2.5rem;
  box-shadow: 0 2px 0 var(--text-color);
}
.header {
  display: grid;
  gap: 20px;

  background-color: var(--secondary-color);
  padding: 2em 4em;
}
.icon {
  height: 25px;
  cursor: pointer;
  filter: invert(91%) sepia(11%) saturate(159%) hue-rotate(6deg)
    brightness(107%) contrast(90%);
}
.header-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-left {
  flex: 1;
}
input[type="search"] {
  width: clamp(250px, 50%, 500px);
  height: 3rem;

  background-color: var(--text-color);

  border: none;
  border-radius: 2rem;
  outline: none;
  padding-left: 2rem;

  margin-left: 2rem;
}
.header-top-row .profile-pic {
  height: 50px;
  border-radius: 50%;
}
.top-right,
.bottom-right,
.bottom-left {
  display: grid;
  gap: 2rem;

  font-size: 2.2rem;
}
.bottom-left {
  min-width: 230px;
}
.greetings-message {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.greetings {
  font-size: 1.6rem;
}
.user-name-account {
  font-size: 2.8rem;
}
.user-AT {
  font-size: 1.9rem;
}
.bottom-right > button {
  font-size: 1.6rem;
  padding: 0.5em 1em;

  background-color: var(--primary-color);
  color: var(--text-color);

  border: none;
  border-radius: 2rem;

  margin-left: 2rem;

  cursor: pointer;

  transition: box-shadow 0.25s, transform 0.5s;
}
.bottom-right > button:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.25rem 5px var(--primary-color);
}
.header-bottom-row {
  display: flex;
  justify-content: space-between;
}
.header-bottom-row .profile-pic {
  height: 75px;
  border-radius: 50%;
}
.header-top-row > *,
.header-bottom-row > * {
  display: flex;
  align-items: center;
}

.content-container {
  display: grid;
  grid-template-columns: 2fr 250px;
  grid-template-rows: 3rem 1fr;

  padding: 2rem;

  background-color: var(--accent-color);
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(160px, 250px));
  gap: 2rem;

  grid-column: 1;
  grid-row: 2;

  padding-right: 2rem;
}

.card {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  width: auto;
  height: auto;
  padding: 2rem;

  border-radius: 10px;

  background-color: var(--secondary-color);
}
.card-icons {
  align-self: end;
  margin-left: auto;
}
.card-description {
  font-size: 1.6rem;
}
.content-sidebar {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(0, max-content));
  gap: 2rem;
}
.announcement-section {
  border-radius: 10px;
}
.announcement-card {
  display: grid;
  gap: 1rem;

  background-color: var(--secondary-color);

  padding: 2em;
}
.announcement-card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.announcement-card:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.announcement-card ~ .announcement-card {
  border-top: 2px solid black;
}
.announcement-text {
  font-size: 1.4rem;
}
.trending-section {
  display: grid;
  grid-template-columns: minmax(0, max-content);
  grid-template-rows: repeat(4 1fr);
  gap: 2rem;
  background-color: var(--secondary-color);
  border-radius: 10px;
  padding: 2rem;
}
.trending-profile {
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  align-items: center;
}
.recommended-profile > p {
  font-size: 1.6rem;
}
.profile-pic-trending {
  height: 50px;
  width: 50px;
  background-color: #bada55;
  border-radius: 25px;
  overflow: hidden;
  margin-right: 2rem;
}
.profile-pic-trending > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  align-self: center;
}
